streamlit
pysqlite3-binary
openai
pandas>=2.1
pypdf
langchain-openai
langchain
langchain-core
langchain-community
langsmith
langchain-groq
langchain_chroma
langchain_experimental
streamlit-pdf-viewer==0.0.15
protobuf==3.20.0